Client.application.name=@APPLICATION_NAME@
Client.application.version=@BUILD_VERSION@
Client.application.buildnumber=@BUILD_NUMBER@
Client.application.icon=@ICON_PATH@
Client.application.copyright=Will Lowe 2006, Gnu Public License
