<component name="ArtifactManager">
  <artifact type="jar" build-on-make="true" name="server">
    <output-path>$PROJECT_DIR$/out/artifacts/server</output-path>
    <root id="archive" name="server.jar">
      <element id="module-output" name="server" />
      <element id="module-output" name="shared" />
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/server/META-INF/MANIFEST.MF" />
      </element>
      <element id="library" level="project" name="lib" />
      <element id="directory" name="tracks">
        <element id="dir-copy" path="$PROJECT_DIR$/tracks" />
      </element>
    </root>
  </artifact>
</component>